{% extends 'layout.twig' %}

{% block content %}
    <form action="{{ path_for('order.create') }}" method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-4">
                <h3>快递信息</h3>
                <div class="form-group">
                    <label for="cellphone">手机</label>
                    <input type="cellphone" name="cellphone" id="cellphone"
                           class="form-control {% if errors.cellphone %}has-error{% endif %}"
                           value="{{ old.cellphone }}">
                    {% if errors.cellphone %}
                        <span class="error">
							请填写正确的手机号
						        </span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="name">姓名</label>
                    <input type="name" name="name" id="name"
                           class="form-control {% if errors.name %}has-error{% endif %}" value="{{ old.name }}">
                    {% if errors.name %}
                        <span class="error">
							请填写名称
						        </span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="city">城市</label>
                    <input type="city" name="city" id="city"
                           class="form-control {% if errors.city %}has-error{% endif %}" value="{{ old.city }}">
                    {% if errors.city %}
                        <span class="error">
							请填写城市
						        </span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="address">地址</label>
                    <input type="address" name="address" id="address"
                           class="form-control {% if errors.address %}has-error{% endif %}" value="{{ old.address }}">
                    {% if errors.address %}
                        <span class="error">
							请填写地址
						        </span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h3>购物清单</h3>
                    {% include 'Element/cart_content.twig' %}
                </div>
            </div>


            <div class="col-md-4">
                {% include 'Element/order_summary.twig' %}
                <!--支付-->
                <div id="payment"></div>
                <button type="submit" class="btn btn-primary">支付</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="https://js.braintreegateway.com/js/braintree-2.24.0.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: '{{ path_for('braintree.token') }}',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    braintree.setup(data.token, 'dropin', {
                        container: 'payment'
                    })
                }
            });
        })
    </script>
{% endblock %}