{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if basket.itemCount %}
                <div class="well">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>商品</th>
                            <th>价格</th>
                            <th>数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in basket.all %}
                            <tr>
                                <td><a href="{{ path_for('product.view', { slug: item.slug }) }}">{{ item.title }}</a></td>
                                <td>{{ item.price | number_format(2) }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p> You have no items in your cart. <a href="{{ path_for('home') }}">Start shopping</a></p>

            {% endif %}
        </div>
        <div class="col-md-4">
            {% include 'Element/order_summary.twig' %}
            <a href="{{ path_for('order.index') }}" class="btn btn-primary">下单</a>
        </div>
    </div>
{% endblock %}