{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if basket.itemCount %}
                <div class="well">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>商品</th>
                            <th>价格</th>
                            <th>数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in basket.all %}
                            <tr>
                                <td><a href="{{ path_for('product.view', { slug: item.slug }) }}">{{ item.title }}</a>
                                </td>
                                <td>{{ item.price | number_format(2) }}</td>
                                <td>
                                    <form action="{{ path_for('cart.update', { slug: item.slug}) }}" method="post"
                                          class="form-inline">
                                        <select name="quantity" class="form-control input-sm">
                                            {% for num in 1..item.stock %}
                                            <option value="{{ num }}" {% if num== item.quantity %} selected="selected" {% endif %}>{{ num }}
                                            </option>
                                                {% endfor %}
                                            <option value="0">无</optiton>
                                        </select>
                                        &nbsp;&nbsp;
                                        <input type="submit" value="更新" class="btn btn-primary btn-sm">
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p> 购物车中空空如也, <a href="{{ path_for('home') }}">开始购物:)</a></p>

            {% endif %}
        </div>
        <div class="col-md-4">
            {% include 'Element/order_summary.twig' %}
            <a href="{{ path_for('order.index') }}" class="btn btn-primary">下单</a>
        </div>
    </div>
{% endblock %}